@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #7209b7;
  --color-primary-50: rgba(114, 9, 183, 0.5);
  --color-black-100: #353535;
  --color-black-75: #676767;
  --color-black-50: #9b9b9b;
  --color-black-25: #cdcdcd;
  --color-white-default: #ffffff;
  --color-white-98: #fafafa;
  --color-white-97: #f7f7f8;
  --color-red: #cb0000;

  --font-poppins: 'Poppins', sans-serif;
}
